include CMakeLists.txt
include LICENSE
include NOTICE
include README.md
recursive-include csrc *.cpp *.h
recursive-include docs *.md
recursive-include metal *.h *.metal
recursive-include tests/fixtures *.json
recursive-include tools *.py
